#myProfile {
  text-align: center;
}

#tableau {
  border: 2px solid red;
  border-radius:
  background-color: #DCDCDC;
  width: 70vw;
  margin: auto;
}

#imgAvatar {
  width: 300px;
  height: 300px;
}

td {
  align: center;
}

tr {
  padding: 30px;
}
