/* Page CSS du fichier sign-in.html */

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background-image: url("../img/pattern_deer.jpg");
  background-repeat: repeat;
  background-attachment: fixed; 
  color: black;
  }
  
#content_signin {
  position: relative;
  margin: auto;
  width: 65vw;
  background-color: white;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_signin {
  position: relative;
  width: 80%;
  min-width: 520px;
  padding-top: 110px;
  padding-bottom: 40px;
  margin: 0;
}

  @media screen and (orientation: landscape) {
  #portrait_mode {
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  width: 100%;
  max-width:100%;
  height: 100%;
  max-height: 100%;
  z-index: 2000;
  }
  }
  
  @media screen and (orientation: portrait) {
  body {
  background-color: black;
  }
  
  #content {
  display: none;
  }
  
  #portrait_mode {
  visibility: visible;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  width: 100%;
  max-width:100%;
  height: 100%;
  max-height: 100%;
  z-index: 2000;
  }
  }

  .navbar {
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color: black !important;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    z-index: 1000;
    color: white;
    } 


    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
      color: white;
  }
  
  .navbar-light .navbar-nav .nav-link {
      color: white;
  }


  h1 {
  font-family: "VT323", monospace;
  font-size: 50px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  }

 
  footer {
  position: fixed;
  width: 100vw;
  height: 30px;
  bottom: 0;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .info_footer {
  padding: 0;
  margin: 0;
  }
  
  .info_footer p{
  padding-right: 10px;
  font-size: 12px;
  }

/* h1 {
  text-align: center;
} */

#signIn {
  background-color: #f0f0f0;
  border-radius: 5px;
  width: 70%;
  align-items: center;
  margin: auto;
}

label {
  font-family: "VT323", monospace;
  font-size: 22px;
  text-transform: uppercase;
}

input {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  padding: 10px 10px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  font-size: 13px;
}

#sign_in_form {
  display: flex;
  justify-content: center;
  text-align: center;

}

.container{
  width:50%;
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  padding: 15px;
  /* justify-content: space-between; */
}

input[type=submit] {
  width: 100%;
  background-color: #f1a720;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

.link_signup {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  text-align: center;
  text-decoration: underline;
}

.link_signup a {
  color: black;
}
.link_signup a:hover {
  color: #f1a720;
  text-decoration: none;
}

.auth_mess {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color:red;

}